body{
    background-color: rgba(38, 38, 73, 0.849)
}
.page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "head head head head"
      "nav  nav  nav  nav"
      "main main main selfie"
      "foot foot foot foot";
    grid-template-rows: 50px 50px 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
  
header {
    grid-area: head;
    color:white;
    text-align: center;
}
  
nav {
    grid-area: nav;
    background-color: rgb(51, 54, 80);
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    list-style-type: none;
    text-align:center;
    padding: 10px;
}
ul > li > a{
    color:rgb(214, 118, 27);
}
ul > li > a:hover{
    color:rgb(230, 230, 230);
}
  
main {
    grid-area: main;
    background-color: rgb(51, 54, 80);
}
  
footer {
    grid-area: foot;
    background-color: rgb(51, 54, 80);
}

p{
    background-color: rgb(51, 54, 80);
    color:white;
}

.selfielink{
    grid-area:selfie;
    background-color:rgb(51, 54, 80);
}
.selfie{
    width:100%;
}