body{
    background-color: rgba(38, 38, 73, 0.849) /* Byta färg på bakgrunden i body */
}
.page {                                         /* redigera klassen page */
    display: grid;                              /* rita ut en grid */
    width: 100%;                                /* bredd 100% */
    height: 100%;                               /* höjd 100% */
    grid-template-areas:                        /* hur griden ska se ut och vart saker ska vara i den */
      "head head head"
      "nav  nav  nav"
      "main trabell selfie"
      "JZX  A310 TE71"
      "foot foot foot";
    grid-template-rows: 50px 50px 1fr 1fr 50px; /* Hur många rader griden ska ha */
    grid-template-columns: 1fr 1fr 1fr;         /* hur många kolumner griden ska ha */
}
  
header {                                        /* redigera header */
    grid-area: head;                            /* den har grid area header */
    color:white;                              /* text färg vit */
    text-align: center;                         /* texten ska vara i mitten */
}
  
nav {                                           /* redigera nav */
    grid-area: nav;                             /* den heter nav */
    background-color: rgb(51, 54, 80);        /* bakgrund är blå */
}
ul{
    display: grid;                              /* rita ut en till grid */
    grid-template-columns: 1fr 1fr 1fr ;
    list-style-type: none;                      /* listan har inga siffror eller andra markeringar */
    text-align:center;
    padding: 10px;
}
ul > li > a{                                    /* redigera lälnken */
    color:rgb(214, 118, 27);                  /* länkens färg */
}
ul > li > a:hover{
    color:rgb(230, 230, 230);                 /* länkens färg när man håller över den */
}
  
main {
    grid-area: main;
    background-color: rgb(51, 54, 80);
}
  
footer {
    grid-area: foot;
    background-color: rgb(51, 54, 80);
}

p{
    background-color: rgb(51, 54, 80);
    color:white;
}

.selfielink{                                    /* redigera klassen som kallas selfielink */
    grid-area:selfie;
    background-color:rgb(51, 54, 80);
    text-align: center;
    width: 100%;
}
.me{
    width: 100%;
    height:100%;
}

table, th, td {
    border: 1px solid black;                  /* Den ska  ha en heldragen border som är svart */
    border-collapse: collapse;                  /* Stilen på border ska vara collapse */
    width:400px;                                /* den ska vara 400pixlar bred */
    color:white;
    grid-area: trabell;
    text-align: center;
    background-color: rgb(51, 54, 80);
    }
table {
    background-color: rgb(51, 54, 80);
}
td{
    border: 1px solid black;
    border-collapse: collapse;
}
th:nth-child(1) { background-color:rgb(247, 179, 80); }         /* randig tabell */
th:nth-child(2) { background-color:rgb(62, 214, 199); }         /* randig tabell */
th:nth-child(3) { background-color:rgb(247, 179, 80); }         /* randig tabell */
td:nth-child(1) { background-color:rgb(247, 179, 80); }         /* randig tabell */
td:nth-child(2) { background-color:rgb(62, 214, 199); }         /* randig tabell */
td:nth-child(3) { background-color:rgb(247, 179, 80); }         /* randig tabell */
th:nth-child(1) { color:rgb(50, 49, 63); }                      /* tabell text färg*/
th:nth-child(2) { color:rgb(50, 49, 63); }                      /* tabell text färg*/
th:nth-child(3) { color:rgb(50, 49, 63); }                      /* tabell text färg*/
td:nth-child(1) { color:rgb(50, 49, 63); }                      /* tabell text färg*/
td:nth-child(2) { color:rgb(50, 49, 63); }                      /* tabell text färg*/
td:nth-child(3) { color:rgb(50, 49, 63); }                      /* tabell text färg*/
.TABELLISTA{
    display:grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    text-align:center;
    padding: 10px;
}

.JZX{
    grid-area:JZX;
    width:100%;
}
.A310{
    grid-area:A310;
    width:100%;
}
.TE71{
    grid-area:TE71;
    width:100%;
}
.billänk1{
    background-color:rgb(51, 54, 80);
    text-align: center;
    width: 100%;
}
.billänk2{
    background-color:rgb(51, 54, 80);
    text-align: center;
    width: 100%;
}
.billänk3{
    background-color:rgb(51, 54, 80);
    text-align: center;
    width:100%;
}